header {
    height: 15vh;

    // position: absolute;
    // width: 100%;
    background-color: #013553;
    // height: rem(100px);
    display: flex;
    z-index: 1;

    img {
        height: 100%;
    }

}